{% extends 'main.html' %}

{% block content %}


<div class="header-bar">

    {% if request.user.is_authenticated %} <!-- 유저의 로그인 여부를 확인. 로그인 상태면 True 리턴 -->
        <a style="float:right; margin-right:7px;" href="{% url 'logout' %}">&nbsp Logout</a>
        <a style="float:right;">Hello {{request.user|title}}!&nbsp|</a>
    {% else %}
        <a style="float:right; margin-right:7px;" href="{% url 'login' %}">Login</a> 
    {% endif %}

    <div>
        <p style="margin: 5px;">&nbsp</p>
        <a style="margin-top: 50px; font-size: 50px; margin-left: 7px;" href="{% url 'tasks' %}">To Do List</a>
        <label class="switch-button" style="float:right; margin-right:7px; margin-top: 80px;"> 
            <input type="checkbox" onclick="toggleTheme()" /> <span class="toggle-switch"></span> 
        </label>
        <p style="margin: 0px;">&nbsp</p>
        <a style="margin-top: 22px; margin-bottom: 0px; margin-left: 7px;">
            You have <i>{{ count }}</i>&nbsp incomplete task{{ count|pluralize:"s" }} </a> <!-- task가 여러개면 s붙음-->
    </div>
    
</div>

<div id="search-add-wrapper">
    <a style="margin-left: 7px;" id="add-link" href="{% url 'task-create'  %}">&#x2b;</a> <!-- &#x2b;는 +모양 -->

    <form method="GET" style="margin-top: 13px; margin-bottom: 13px; display: flex;"> <!-- GET: 서버에서 URL의 정보를 가져옴. 서버의 정보 변경이 없을때 사용 -->
        <input type='text' name='search-area' value="{{search_input}}"> <!-- value=적혀있을내용. 검색 후에도 쓴 내용 남아있게 -->
        <input class= "button" type="submit" value='Search'>
    </form>  
</div>


<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
                <div class="task-title">
                    <a href="{% url 'uncross' task.id %}"><div class="task-complete-icon"></div></a>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>

            {% else %}
                <div class="task-title">
                    <a href="{% url 'crossOff' task.id %}"><div class="task-incomplete-icon"></div></a>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                <!-- www.toptal.com/designers/htmlarrows/ 에서 이모티콘 코드 알수있음 -->

            {% endif %}
        </div>
    {% empty %}
        <h3>No items in list</h3>

    {% endfor %}
</div>

<!-- 라이트,다크테마 구현을 위한 JS코드 -->
<script>
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName); //ket,value 형태로 localStorage에 저장
        document.documentElement.className = themeName; //class를 themeName으로 바꾸어 준다
    }
    function toggleTheme() {
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-light');
        }
        else {
            setTheme('theme-dark');
        }
    }
    (function() { //첫 로드 시 테마 즉시 호출
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-dark');
        }
        else {
            setTheme('theme-light');
        }
    } )();
</script>


{% endblock content %}
