{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">

    {% if request.user.is_authenticated %}
        <a style="float:right; padding-right:7px;" href="{% url 'logout' %}">&nbsp Logout</a>
        <a style="float:right;">Hello {{request.user|title}}!&nbsp|</a>
    {% else %}
        <a style="float:right; padding-right:7px;" href="{% url 'login' %}">Login</a> 
    {% endif %}

    <div>
        <p style="margin: 3px;">&nbsp</p>
        <a style="margin-top: 50px; font-size: 50px; margin-left: 7px;" href="{% url 'tasks' %}">To Do List</a>
        <h3 style="margin-top: 22px; margin-bottom: 0px; margin-left: 7px;">You have <i>{{ count }}</i>&nbsp incomplete task{{ count|pluralize:"s" }}</h3>
    </div>
    
</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 5px; display: flex;">
        <input type='text' name='search-area' value="{{search_input}}"> <!--value=적혀있을내용-->
        <input class= "button" type="submit" value='Search'>
    </form>
    
    <a id="add-link" href="{% url 'task-create'  %}">&#x2b;</a>
</div>


<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
                <div class="task-title">
                    <a href="{% url 'uncross' task.id %}"><div class="task-complete-icon"></div></a>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>

            {% else %}
                <div class="task-title">
                    <a href="{% url 'crossOff' task.id %}"><div class="task-incomplete-icon"></div></a>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                <!--구글링 html back arrow / toptal.com-->

            {% endif %}
        </div>
    {% empty %}
        <h3>No items in list</h3>

    {% endfor %}
</div>



{% endblock content %}
